﻿<h3>Pease contact me if you like this Test Task.</h3>
<br/>
<ul class="contacts">
    <li>
        <strong>Author:</strong>
        <span>Kondratov Sergey</span>
    </li>
    <li>
        <strong>Email:</strong>
        <a href="mailto:skondratov@gmail.com">skondratov@gmail.com</a>
    </li>
    <li>
        <strong>Skype:</strong>
        <span>kondratovs</span>
    </li>
    <li>
        <strong>Phone:</strong>
        <span>+7 902 942 8229</span>
    </li>
</ul>