﻿@model BadBroker.Models.HomeControllerViewModel
@{
    ViewBag.Title = "Best revenue calculation ";
}
<div class="jumbotron">
    <h2 class="text-center">@ViewBag.Title</h2>
</div>

@using (Ajax.BeginForm(
    new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "best_revenue_result",
        LoadingElementId = "loader"
    }
    ))
{
    @Html.AntiForgeryToken()

    <div class="form-inline vert-aligned-form text-center">
        <div class="form-group vert-aligned-form-block">
            @Html.LabelFor(model => model.DateFrom, new {@class = "control-label"})
            <div>
                @Html.EditorFor(model => model.DateFrom, new {htmlAttributes = new {@class = "form-control"}})
                <p>
                    @Html.ValidationMessageFor(model => model.DateFrom, "", new {@class = "text-danger"})
                </p>
            </div>
        </div>

        <div class="form-group vert-aligned-form-block">
            @Html.LabelFor(model => model.DateTo, new {@class = "control-label"})
            <div>
                @Html.EditorFor(model => model.DateTo, new {htmlAttributes = new {@class = "form-control"}})
                <p>
                    @Html.ValidationMessageFor(model => model.DateTo, "", new {@class = "text-danger"})
                </p>
            </div>
        </div>
        <div class="form-group vert-aligned-form-block">
            @Html.LabelFor(model => model.AmountOfMoney, new {@class = "control-label"})
            <div>
                @Html.EditorFor(model => model.AmountOfMoney, new {htmlAttributes = new {@class = "form-control"}})
                <p>
                    @Html.ValidationMessageFor(model => model.AmountOfMoney, "", new {@class = "text-danger"})
                </p>
            </div>
        </div>

        <div class="form-group vert-aligned-form-block">
            <div>
                <input type="submit" value="Calculate" class="btn btn-default" id="request_best_revenue_btn"/>
            </div>
        </div>
    </div>
}

<div id="loader" style="display: none" class="text-center">
    Loading...
</div>

<div id="best_revenue_result">
    @if (Model != null && Model.Result != null)
    {
        @Html.Partial("BestRevenueResults", Model.Result)
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/custom-validation")
}