﻿@model List<BadBroker.Models.CurrencyRates>

@if (Model != null && Model.Count > 0)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].RUB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].EUR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].GBP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].JPY)
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RUB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EUR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GBP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JPY)
                </td>
            </tr>
        }
    </table>
}