﻿@model BadBroker.Models.Position

@if (Model != null)
{
    <div class="text-center text-info">
        <p>
            You can get maximum revenue if buy @Html.Raw(Model.Currency) at @Html.Raw(Model.Start.ToString("dd.MM.yyyy")) and sell at @Html.Raw(Model.Finish.ToString("dd.MM.yyyy")).
        </p>
        <p>
            Your revenue will be: @Html.Raw(Model.RevenueInUsd) $
        </p>
    </div>
}