﻿body {
    padding-bottom: 20px;
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt { white-space: normal; }

/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea { max-width: 280px; }

/* Custom styles*/

.vert-aligned-form .vert-aligned-form-block { vertical-align: top; }

.vert-aligned-form-block input {
    margin-top: 0px;
    width: 150px;
}

.vert-aligned-form-block div {
    display: table;
    float: left;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    width: 1px;
}

.vert-aligned-form-block label {
    float: left;
    margin-top: 8px;
}

.validation-summary-errors ul, .contacts {
    list-style-type: none;
    padding-left: 0px;
}